<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Waterfall Layout</title>
    <link rel="stylesheet" href="./simpleWaterfall.css" />
  </head>
  <body>
    <main>
      <div class="WaterfallContainer">
        <div class="card darkA"></div>
        <div class="card lightA"></div>
        <div class="card midA"></div>
        <div class="card darkB"></div>
        <div class="card lightA"></div>
        <div class="card midA"></div>
        <div class="card darkA"></div>
        <div class="card lightA"></div>
        <div class="card midA"></div>
        <div class="card darkA"></div>
        <div class="card lightA"></div>
        <div class="card midA"></div>
        <div class="card darkA"></div>
        <div class="card lightA"></div>
        <div class="card midB"></div>
        <div class="card darkA"></div>
        <div class="card lightB"></div>
        <div class="card midB"></div>
        <div class="card darkA"></div>
        <div class="card lightB"></div>
      </div>
    </main>
  </body>
</html>
