:root {
  /* color variables                                */
  /* color palette used can be found on lospec      */
  /* https://lospec.com/palette-list/late-night-bath*/
  --darkAccent: #282d3c;
  --bgColor: #5b5d70;
  --boxColor: #74838c;
  --fontColor: #ffc4b8;
  --accentColor: #f69197;
}

body {
  padding: 0;
  margin: 0;
  background: var(--bgColor);
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

a:hover {
  text-decoration: underline;
  color: var(--accentColor);
}

.menuContainer {
  color: var(--fontColor);
  background-color: var(--boxColor);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.menu {
  padding: 0 0.5rem;
  border: 1px solid var(--darkAccent);
  border-radius: 0.25rem;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.waterfallContainer {
  column-gap: 0.25rem;
  padding: 0;
  column-count: 1;
}

.card {
  width: 100%;
  box-sizing: border-box;
  break-inside: avoid;
}

/* content of boxes styles only needed for demo purposes can be replace with pictures easily enough */
.darkA {
  background: var(--boxColor);
  height: 350px;
}
.darkB {
  background: var(--boxColor);
  height: 250px;
}

.midA {
  background: var(--accentColor);
  height: 200px;
}
.midB {
  background: var(--accentColor);
  height: 300px;
}

.lightA {
  background: var(--fontColor);
  height: 200px;
}
.lightB {
  background: var(--fontColor);
  height: 150n;
}

/* end of content for demo purpose  */

.footer {
  color: var(--fontColor);
  background-color: var(--boxColor);
  padding: 0.5rem 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* responsive styles */
