<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Waterfall Layout</title>
    <link rel="stylesheet" href="./simpleWaterfall.css" />
  </head>
  <body>
    <nav class="menuContainer">
      <div class="menu">
        <a href="./index.html">Home</a>
        <h3>Simple Waterfall Layout</h3>
        <a href="https://www.jayceeraven.net/">JayceeRaven.net</a>
      </div>
    </nav>

    <main>
      <div class="waterfallContainer">
        <div class="card darkA">1</div>
        <div class="card lightA">2</div>
        <div class="card midA">3</div>
        <div class="card darkB">4</div>
        <div class="card lightA">5</div>
        <div class="card midA">6</div>
        <div class="card darkA">7</div>
        <div class="card lightA">8</div>
        <div class="card midA">9</div>
        <div class="card darkA">10</div>
        <div class="card lightA">11</div>
        <div class="card midA">12</div>
        <div class="card darkA">13</div>
        <div class="card lightA">14</div>
        <div class="card midB">15</div>
        <div class="card darkA">16</div>
        <div class="card lightB">17</div>
        <div class="card midB">18</div>
        <div class="card darkA">19</div>
        <div class="card lightB">20</div>
      </div>
    </main>
    <footer class="footer">Copyright Jaycee Raven 2024</footer>
  </body>
</html>
